body {
  background-color: rgb(44, 43, 43);
  text-align: center;
  font-family: 'Noto Sans';
  align-items: center;
}
/* title */
.App h1 {
  color: rgb(209, 209, 78);
  font-size: 100;
  text-align: center;
}

.item h3 {
  color: rgb(192, 179, 108);
  background-color: rgb(42, 41, 41);
  border-radius: 25px;
  width: 600px;
  padding: 20px 30px;
  margin: 0px auto; /* allign list items at the center */
  margin-bottom: 10px;
  transition: 0.4s;
  text-align: left;
}

h3:hover{
  background-color: rgb(28, 28, 28);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  color: rgb(224, 224, 224);
}

.date {
  display: flex;
  justify-content: center;
  text-indent: 10px;
  color: rgb(228, 227, 227);
  font-size: 50;
}

h4 {
  color: rgb(110, 110, 110);
}

