body {
  background-color: rgb(44, 43, 43);
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
}
/* title */
.App h1 {
  color: rgb(209, 209, 78);
  font-size: 200;
  text-align: center;
}

.item h3 {
  color: rgb(192, 179, 108);
  background-color: rgb(33, 33, 33);
  border-radius: 30px;
  padding: 10px 30px;
  margin: 10px;
  transition: 0.4s;
}

h3:hover{
  background-color: rgb(79, 79, 79);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: rgb(224, 224, 224);
}

.date {
  display: flex;
  justify-content: center;
  text-indent: 10px;
  color: rgb(228, 227, 227);
  font-size: 50;
}


