body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
/* title */
.App h1 {
  color: rgb(209, 209, 78);
  font-size: 200;
  text-align: center;
}

.date {
  display: flex;
  justify-content: center;
  text-indent: 10px;
}
.date h2 {
  color: rgb(228, 227, 227);
  font-size: 50;
}
