label {
    color: rgb(120, 119, 119);   
}

input {
    text-align: center;
    font-size: 1rem;
}

input[type=text]{
    padding: 10px 18px ;
    margin: 8px 6px;
    border-radius: 15px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=date] {
    padding: 10px 18px ;
    margin: 8px 6px;
    border-radius: 15px;
    border: 3px solid #ccc;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: text;
}

button[type=add] {
    background-color: white;
    padding: 10px 18px ;
    margin: 8px 6px;
    border-radius: 15px;
    transition-duration: 0.5s;
    border: white;
    cursor: pointer;    
}

button[type=delete] {
    background: url(trash-solid-grey.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 10px;
    margin: 8px 40px;
    border-radius: 100px;
    transition-duration: 0.3s;
    border: white;
    cursor: pointer;  
    width: 40px;
    height: 40px;
    border-radius: 39px;
}

/* Animation */
input[type=text]:focus{
    border: 3px solid #555;
}

input[type=date]:focus{
    border: 3px solid #555;
}

button[type=add]:hover{
    background-color: lightgrey;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
}

button[type=delete]:hover{
    background-color: rgb(164, 37, 37);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



